/*Map Style*/
.mapouter
{
 text-align:right;
 height:550px;
 width:1350px;
}

.gmap_canvas
{
 overflow:hidden;
 background:none!important;
 height:550px;
 width:1350px;
}
/*Map Stle End*/

/* Contact Body H2 Tag*/
.p
{
  text-align: center;
  margin-top: 30px;
  font-family: montserrat-bold;
  color: #232323;
  font-size: 30px;
  position: relative;
}

.line
{  
 border-top: 0.8px solid #3f51b5;
 border-bottom: 1px solid #3f51b5;
 width: 55px;
}

.bc
{
	background-color: #f5f5f5;
  margin-top:-30px;
}

#h2
{
  margin-top: 30px;
  margin-left: 80px;
  font-family: montserrat-bold;
  font-weight: bold;
  color: #232323;
}

/*WORKING HOURS Style*/
.sp
{
	margin-top: 30px;
	margin-left:90px;
	font-family: montserrat-bold;
	font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 1.6;

}

/*fa-fa-icon style Timer*/
.ic
{
	color: #777777;
}

/*Font syle*/
.ft
{
	margin-left: 120px;
	font-family: lato-medium;
	font-weight: bold;
    font-size: 16px;
    color: #777777;
    line-height: 1.6;
}

/* Line1 Style*/
.line1
{
	border-top: 1px solid #b3b3b3;
 	width: 380px;
 	margin-left: 90px;
}

/*fa-fa-icon-Address*/
.ic1
{
	color: #777777;
}
/*Address Style*/
.sp1
{
	margin-top: 30px;
	margin-left:90px;
	font-family: montserrat-bold;
	font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 1.6;
}

/* Font Styles*/
.ft1
{
	margin-left: 120px;
	font-family: lato-medium;
	font-weight: bold;
    font-size: 16px;
    color: #777777;
    line-height: 1.6;
}


/*Line 2 Style*/
.line2
{
	border-top: 1px solid #b3b3b3;
 	width: 380px;
 	margin-left: 90px;
}

/*fa-fa-icon-Contact*/
.ic2
{
	color: #777777;
}
/*Contact Style*/
.sp2
{
	margin-top: 30px;
	margin-left:90px;
	font-family: montserrat-bold;
	font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 1.6;
}

/* Font Styles*/
.ft2
{
	margin-left: 120px;
	font-family: lato-medium;
	font-weight: bold;
    font-size: 16px;
    color: #777777;
    line-height: 1.6;
}

/* Contact Form Div*/
.ct
{
margin-left: 600px;
margin-top: -500px;
}

/*Heading*/
#h3
{
  margin-top: 30px;
  margin-left: 80px;
  font-family: montserrat-bold;
  font-weight: bold;
  color: #232323;
}

/*Form Section Start*/
.form
{
	margin-top: 35px;
}

.block
{
	width: 300px;
	height: 30px;
	border-radius: 2px 0px 0px 2px;
	border-width: 2px;

}

.block1
{
	margin-left: 20px;
}

.block2
{
	margin-top: 20px;
}

.txtarea
{
	width: 620px;
	height: 238px;
	border-width: 2px;
}

.button
{
	margin-left:12px;
	margin-top: 20px;
  	background-color: #3f51b5;;
  	color: white;
  	padding: 8px 40px;
  	cursor: pointer;
  	font-family: helvetica;
    font-size: 14px;
}