<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/welcome.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
font-family: "Lato", sans-serif;
}
.sidenav {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
}
.sidenav a {
padding: 6px 6px 6px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}
.sidenav a:hover {
color: #f1f1f1;
}
.main {
margin-left: 200px; /* Same as the width of the sidenav */
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
</style>
<script>
function myFunction() {
  confirm("Password Change Successfully ");
}
</script>
</head>
<body>
<div class="sidenav">
<a href="{% url 'Home' %}">Home</a>
<a href="{% url 'U_Booking' %}">Booking</a>
<a href="{% url 'U_Voucher' %}">Voucher</a>
<a href="{% url 'U_Repair' %}">Repair</a>
<a href="{% url 'Profile_User' %}">Profile</a>
<a href="#">Logout</a>
</div>
<div class="container">
          <div class="col-md-12" >
            <h3 class="text-center">Welcome world</h3>
             
                   <form name="" class="form-horizontal cform-1" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-md-6"style="margin-left: 250px;">
                         <div class="table-responsive">
                         
                         <table class="table table-hover table-striped">
                         <tbody><tr>
                          <th>Old Password:</th>
                            <td><input type="password" class="form-control" value="" name="old_pass" required="required"></td>
                         </tr>
                         <tr>
                          <th>New Password:</th>
                            <td><input type="password" class="form-control" value="" id="new_pass" name="new_pass" required="required"
                              oninvalid="this.
                            setCustomValidity('Please Enter New Password')" oninput="setCustomeValidity('')"></td>
                         </tr>
                         <tr>
                          <th>Confirm Password:</th>
                            <td><input type="password" class="form-control" value="" name="con_pass" onkeyup="check_password(this.value, document.getElementById('new_pass').value)" required="required 
                              "><span style="color:#f00;" id="pass_error"></span></td>
                            
                         </tr>
                        
                          <tr>
                          <th colspan="2" class="text-center">
            <button type="submit" value="Create account" style="width: 200px; margin-left: 150px;" class="btn btn-success btn-lg btn-block"
            onclick="myFunction()">Change Password</button>
        
                            </th>
                         </tr>
                            
                         </tbody></table>
                         
                         </div>
                         </div></form>
                                                    <div class="col-md-3"></div>
          </div>
                    </div>
</body>
</html>
}
}
}
}
}
}