<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Groomauto</title>
	<!--Header Css-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}">
	<!--Body Css-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/About.css' %}">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity=			   'sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!--Footer Css-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}">
  <!--Footer Css End-->
</head>
<body>
	<div>
	<!--Main Div -->
	<!---Navigation Bar-1-->
<div class="container-fluid">
		<div class="row" id="hd1" style="box-shadow:0px 1px 3px blue; height:30px; background-color:#002080;">
			<div class="col col-sm-10" style="margin-top:-5px;"><a href="Contact.html"class="fa fa-envelope" style="margin-left: 100px;color: #fff;">&emsp;Contact US</a></div>
			<div class="col col-sm-2" style="margin-top: -5px;"><a href="Service.html"style="margin-left:-50px;color: #fff;">
			Services
			</a>
			</div>
		</div>
	<!--End Navigation Bar-1-->
	<!---Logo Bar--->
			<div class="row" style="box-shadow:0px 1px 3px gray; height:90px; background-color:#fff;">
				<div class="col-sm-6" id="logo"><img src="{% static 'image/LOGO.png' %}" height="80" width="120">
				</div>
				<div class="col col-sm-3" id="txt">
					<p>OPENING HOURS:</br>
					   <span style="color: gray; font-size: 12px;">MON-SAT: 9.00 AM - 8.00 PM</span></p>
				</div>
				<div class="col col-sm-3" id="txt1">
					<p>CALL US NOW:</br>
					  <span style="color: red;font-size: 25px;">+(91)123 456 789</span></p>
				</div>
			</div>
 </div>
 	<!---End Logo Bar--->
<div>
 <!--- Navigation Panel Start -->
 <div class="bg-img">
	<nav class="nav">
		<ul>
			<li><a href="{% url 'Home' %}">Home</a></li>
				<button class="btn dropdown" dropdown type="button" data-toggle="dropdown">
				</button>
					<li><a href="#">Services</a>
					<ul class="dropdown-menu">

        				<li class="adj"><a href="{% url 'Service' %}" class="dropdown-item" >Service</a></li>
        				<li class="adj"><a href="{% url 'Repair' %}" class="dropdown-item">Repair</a></li>
        				<li class="adj"><a href="{% url 'Insurance' %}" class="dropdown-item">Insurance</a></li>
        			</ul>
					</li>
			<li><a href="{% url 'Contact' %}">Contact</a></li>
			<li><a href="{% url 'Gallery' %}">Gallery</a></li>
			<li><a href="{% url 'About' %}">About</a></li>
			<li><a href="{% url 'Feedback' %}">FeedBack</a></li>
			<li><a href="Login/Login_v18\index.html">Join-us</a></li>
			<li style="height: 61px;width: 221px;"><a href="#"></a></li>
		</ul>
		<div class="search-box">
		<input class="search-txt" type="text" name="" placeholder="Type to search">
		<a class="search-btn" href=""></a>
		<i class="fas fa-search"></i>
	</div>
	</nav>
</div>
</div>
<!-- Navigation Panel End-->
<div>
<!-- About Body Section Start-->
<h2 class="pp">WHY CHOOSE US?</h2>
	<hr class="line">
	<hr class="line" style="margin-top: -15px;">

<div class="container-fluid">
	<div class="row col-md-10 col-md-offset-1">


        <div class="col-md-4 col-sm-6">
        <div class="item-boxes1">
        <img src="{% static 'image/pickup_choose.png' %}" class="choseus_img"style="width: 80px; height: 75px;">
                  <div class="why_choseus"><p style="padding: 0px;">Pick-Drop</p></div>
                 <p class="a">We provide the doorstep pick up and drop facility to get your bike servicing done, No Negotiations, no trips to the service centers to check whether bike is serviced or not. No need to worry about who will ferry you back.</p>
        </div>
        </div>

        <div class="col-md-4 col-sm-6">
        <div class="item-boxes1">
        <img src="{% static 'image/inspection_choose.png' %}" class="choseus_img" height="74px" width="74px">
                <div class="why_choseus">Inspection</div>
                <p class="a">Before your bike get picked up bike will be checked in front of you, once servicing done at the time of bike drop total work will be communicate to you.</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="item-boxes1">
        <img src="{% static 'image/fair_price_choose.png' %}" class="choseus_img" height="74px" width="74px">
                <div class="why_choseus">Fair Price</div>
                <p class="a">We offer you bike servicing in fair price than regular servicing charges.</p>
        </div>
        </div>


        </div>

	<div class="container-fluid">


         <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-4 col-sm-6">
        <div class="item-boxes1">
        <img src="{% static 'image/payment_choose.png' %}" class="choseus_img" height="74px" width="74px">
                  <div class="why_choseus">One click to make Payment</div>
                 <p class="a">It is Easy to make payment through debit card, credit card, net banking &amp; wallet..</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="item-boxes1">
         <img src="{% static 'image/service_choose.png' %}" class="choseus_img" height="74px" width="74px">
               <div class="why_choseus">Transparent Servicing</div>
               <p class="a">We offer you transparent servicing, you can check what servicing to be done for you bike through App/website; no extra work will be done without prior permission.</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="item-boxes1">
        <img src="{% static 'image/reminder_choose.png' %}" class="choseus_img" height="74px" width="74px">
                <div class="why_choseus">Reminder</div>
                <p class="a">We are providing you reminder facility that when would be next service for your bike, to make sure that the vehicle is in excellent condition.</p>
        </div>
        </div>


          </div>


        </div>
</div>



</div>
<!--About Body Section End-->
<!--Footer Start-->

<div class="main">
<div class="box">
<h3 class="h3">More About Company</h3>
<p style="color: #6F6E6E;">
Groomauto is an online platform for bike servicing,</br>
repair, Insurance to ease your bike problems.</br>
Booking and order tracking system allow</br>
you to check the status of your service.
</p>

<h3 class="h32">Contact Information</h3>
<img  class="ichome1" src="{% static 'image/icon2.png' %}"><p class="ct" style="color:#6F6E6E">505 506 Shapath 2, OPP Rajpath Club
Near Pakwan Cross Road,</br>
Sarkhej-Gandhinagar Hwy, Bodakdev,
Ahmedabad, Gujarat 380052</p></img>

<img class="ichome2" src="{% static 'image/icon3.png' %}">
  <p class="con" style="color:#6F6E6E">9876543210</p></img>

<img class="ichome3" src="{% static 'image/icon1.png' %}"></img>
  <a class="mail" href="mailto:info@example.com">GROOMAUTO@GMAIL.COM</a>
<!--Icon-->
<div>
<a href="https://twitter.com/"><img src="{% static 'image/social1.png' %}"></a></img>
<a href="https://www.facebook.com/"><img src="{% static 'image/social2.png' %}"></a></img>
<a href="https://plus.google.com/"><img src="{% static 'image/social3.png' %}"></a></img>
<a href="https://in.pinterest.com/"><img src="{% static 'image/social4.png' %}"></a></img>
<!--Icon End-->
</div>
</div>
</div>
<!--Footer End-->



</div>
<!-- End Main Div-->
</body>
</html>
