<header>
<link rel="stylesheet" type="text/css" href="css/Footer.css">
</head>

<body>
<div class="main">
<div class="box">
<h3 class="h3">More About Company</h3>
<p>
Groomauto is an online platform for bike servicing,</br>
repair, Insurance to ease your bike problems.</br>
Booking and order tracking system allow</br>
you to check the status of your service.
</p>

<h3 class="h32">Contact Information</h3>
<img  class="ichome1" src="image/icon2.png"><p class="ct">505 506 Shapath 2, OPP Rajpath Club 
Near Pakwan Cross Road,</br>
Sarkhej-Gandhinagar Hwy, Bodakdev,
Ahmedabad, Gujarat 380052</p></img>

<img class="ichome2" src="image/icon3.png">
	<p class="con">9876543210</p></img>

<img class="ichome3" src="image/icon1.png"></img>
	<a class="mail" href="mailto:info@example.com">GROOMAUTO@GMAIL.COM</a>

<div>
<img src="Database/web/images/social1.png" class="twit">
</div>
</div>


</div>
</body>
